*::selection {
    color: white;
    background: indianred;
}

body {
    font: normal 100% Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6, h1 > a, h3 > a {
    font-family: $crimson;
    line-height: 1;
}

a {
    text-decoration: none;
    color: $active;
}

.markdown p > a:link, section p > a:link, .markdown li > a:link, section li > a:link {
    color: red;
    font-weight: 600;
}

.markdown p > a:visited, section p > a:visited, .markdown lo > a:visited, section li > a:visited {
    color: #717171;
    font-weight: 600;
}


p, ul, ol, li, section, a, div {
    font-family: $open-sans;
    font-size: 1em;
    word-spacing: 0.05em;
}

p {
    line-height: 1.7;
}