%supporting {
    display: inline;
    text-transform: uppercase;
    color: $supporting-info;
    letter-spacing: 0.0416667em; // 0.5px [12 px context]
    font-size: $px12;
}

$px5: 0.416667em; // 5px [12 px context]

.markdown {

    line-height: $px24;

    header {
        @extend %header;
        border-bottom: $separating-border;    
    }

    h1 {
        font-size: 2.25em;
    }

    h2, h3, h4, h5, h6 {
        margin-top: 2em; // 36 px
        margin-bottom: 1em; // 24 px
    }

    .article-info {
        display: flex;

        a {
            color: inherit;
            margin: 0 $px5 0 $px5;
        }

        a:hover {
            color: $decoration;
        }
    }

    .date, .languages {
        @extend %supporting;
        margin-left: $px5;
        flex-grow: 1;
        text-align: left;
    }

    .taxonomies {
        @extend %supporting;
        flex-grow: 1;
        text-align: right;
    }

    @media screen and (max-width: 700px) {
        .languages, .taxonomies {
            display: flex;
            flex-wrap: wrap;
            max-width: 250px;
        }

        .taxonomies {
            justify-content: flex-end;
        }
    }

    blockquote {
        font-size: 0.85em;
        color: $quote;
    }

    footer {
        border-top: $separating-border;
        margin: $px30 0;
    }
}

.other-entries {
    margin: 3em 0 2em 0;
    display: flex;
    font-size: 0.9em;

    .previous-entry {
        flex-grow: 1;

        a {
            color: $inactive;
        }

        div {
            font-weight: bold;
        }
    }

    .previous-entry a:hover {
        color: $decoration;
    }

    .next-entry {
        flex-grow: 1;
        text-align: right;

        a {
            color: $inactive;
        }

        div {
            font-weight: bold;
        }
    }

    .next-entry a:hover {
        color: $decoration;
    }
}
